# Environment files
.env

# Service account credentials
creds.json

# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/
